.parent{
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    height: 300px;;
    align-items: center;
}
.head{
    font-style: cursive;
    color: white;
    margin-top: 70px;
}
.head3{
    color: brown;
}
.image{
    margin-down: 70px;
}

