.wrapper{
    height: 100vh;
    display: grid;
    /*grid-template-columns: 100px 200px 300px auto;*/
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
}
.wrapper div{
    background-color: blue;
    border: 2px solid red;
}
.ch1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
button:hover{
    background-color: rgb(50, 7, 150);
    color: azure;
}