.navbar{
    background-color: yellow;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.navbar label{
    display: none;
}
/*#click:checked~.navbar ul{
    display:block;
}*/
#click{
    display:none;
}
@media  screen and (max-width:600px) {
    .navbar label {
            display: block;
        }
        .navbar {
            background-color: rgb(17, 23, 113);
            display:flex;
            justify-content: space-around;
            align-items:center;
            color: aquamarine;
        }
        .navbar ul{
            display:none;
            position:absolute;
            top: 100px;
            background-color: black;
            width: 100%;
            
        }
        .navbar ul li{
            padding:10px;
            gap: 10%;
        }
                #click:checked~.navbar ul {
                    display: block;
                }
    
}

